# Environment
/.venv/

01_Linear_Regression/src/__pycache__/

02_Logistic_Regression/src/__pycache__/
02_Logistic_Regression/src/preprocess.py
02_Logistic_Regression/data/

03_Decision_Tree/src/__pycache__/

04_Random_Forest/src/__pycache__/

05_KNN/src/__pycache__/